{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products List</title>
  </head>
  <body>
    {% block content %}
    <div class="header">
      <h2>Product List in the DB</h2>
      <a href="{% url 'create' %}">Add new product</a>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>S/n</th>
            <th>Product Name</th>
            <th>Production Date</th>
            <th>Expiry Date</th>
            <th>Edit Product</th>
            <th>Delete Product</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td data-cell="S/n">{{forloop.counter}}</td>
            <td data-cell="Product Name">{{product.product_name}}</td>
            <td data-cell="Production Date">{{product.production_date}}</td>
            <td data-cell="Expiry Date">{{product.expiry_date}}</td>
            <td data-cell="Edit Product">
              <a href="{% url 'update' product.pk %}">Edit</a>
            </td>
            <td data-cell="Delete Product">
              <a href="{% url 'delete' product.pk %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
  </body>
</html>
